body {
  background-color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.header {
  padding: 60px;
  text-align: center;
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);

  color: white;
  border-radius: 10px;
}

.header h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 5em;
}

.header p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: 400;
}

.main {
  color: #fff;
  text-align: center;
  font-size: 3em;
  padding-bottom: 1em;
}



/*Containers*/

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #04AA6D;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}