body {
  background-color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.header {
  padding: 60px;
  text-align: center;
  background: #feac5e;
  background: -webkit-linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  );
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  );

  color: white;
  border-radius: 10px;
}

.header h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 5em;
}

.header p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-weight: 400;
}

.main {
  color: #fff;
  text-align: center;
  font-size: 3em;
}